<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="https://getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>

  <div class="container">
    <div class="input-group">
      <input type="text" name="resultadoBusqueda" class="form-control" placeholder="Search..." [(ngModel)]="nombreHijo">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="button" (click)="enviarBusqueda()">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
